<section class="dialog ClientRegister">
  <header>
    <h1>Comprar Ativo</h1>
  </header>

  <form [formGroup]="formAtivo">
    <div class="group">
      <div class="fm-inline">
        <mat-form-field class="fm-group">
          <input matInput  type="text" maxlength="4" readonly  value="{{sigla}}" [(ngModel)]="sigla">
        </mat-form-field>
      </div>
      <div class="fm-inline">
        <mat-form-field class="fm-group">
          <input matInput  type="text" maxlength="6" readonly value="{{preco}}" [(ngModel)]="preco">
        </mat-form-field>
      </div> 
      <div class="fm-inline">
        <mat-form-field class="fm-group">
          <input matInput placeholder="Quantidade" type="number" maxlength="6" formControlName="quantidade" [(ngModel)]="quantidade">
        </mat-form-field>
      </div> 
    </div>
    <br />

    <div class="buttons">
      <button type="button" style="background-color: #089ef4;" class="reset-btn" mat-button (click)="limpar()"> Limpar</button>
      <button type="button" style="background-color: #089ef4;" mat-button (click)="closeDialog()">Cancelar</button>
      <mat-spinner mode="indeterminate" diameter="16" *ngIf="Gravando" ></mat-spinner>
      <button type="button" style="background-color: #089ef4;" mat-button (click)="onSubmit()" [disabled]="!formAtivo.valid">Salvar</button>
    </div>

    <!-- ============================================================================================================= -->

    <ul class="dialog-actions">
      <li>
        <button type="button" (click)="closeDialog()"><i class="fa fa-times" aria-hidden="true"></i></button>
      </li>
    </ul>

  </form>
</section>
